/*
Kevin Pham
CSS file for use with index.html.  Provides style for a professional website
including layout and animations/transitions.
*/

@import url('https://fonts.googleapis.com/css?family=Share+Tech|Space+Mono&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
}

/*==========Fonts==========*/

h1, h2, h3, nav a {
    font-family: 'Share Tech', sans-serif;
}

code, p, ul {
    font-family: 'Space Mono', monospace;
}

/*==========Header==========*/

header {
    background: #444444;
    margin: 0;
    padding: 5px 0;
    display: flex;
    justify-content: space-between;
    height: 5vh;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
}

h1 {
    margin: 0 0 0 20px;
    width: 20%;
    background: white;
    border: solid 5px #00fbdd;
    font-size: 20pt;
    text-align: center;
}

nav {
    margin: 0 20px;
    padding: 0;
    width: 40%;
    display: flex;
    justify-content: end;
}

nav a {
    display: block;
    width: 25%;
    margin: 0;
    background: transparent;
    color: white;
    font-size: 15pt;
    text-decoration: none;
    line-height: 30pt;
    text-align: center;
    transition: all 500ms;
}

nav a:visited {
    color: white;
}

nav a:hover {
    background: #222222;
}

/*==========Sections==========*/

.section {
    padding-top: 5vh;
}

.section hr {
    width: 300px;
    text-align: left;
    margin-left: 25px;
    border: 4px dashed black;
    border-style: none none dashed;
}

.section h2 {
    font-size: 30pt;
    padding-left: 30px;
    margin-bottom: 0;
}

/*==========Intro==========*/

#intro {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#terminal {
    height: 86vh;
    width: 96vw;
    background: black;
    padding: 5px;
}

#terminal .pic-wrap-circle {
    height: 40vh;
    width: 40vh;
    position: absolute;
    right: 5vw;
    bottom: 10vh;
}

#terminal code {
    color: #00b628;
    font-size: 30pt;
}

/*==========Background==========*/

#background {
    background: #00b2ff;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 20px;
}

#background-left {
    width: 65%;
}

#background p {
    padding-left: 30px;
}

#background-right {
    width: 30%;
}

/*==========Card UI==========*/

.card {
    position: relative;
    background: #ddd;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.card > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.description {
    width: 100%;
}

/*==========Skills==========*/

#skills-container {
    display: grid;
    grid-template-columns: repeat(4, minmax(23%, 1fr));
    grid-gap: 10px;
    margin: 0 10px;
}

.skill-card {
    height: 30vh;
}

.skill-card .description {
    position: absolute;
    top: 0;
    left: 0;
    transition: all 1s ease-in-out;
    transform: translatey(100%);
    background: rgba(0, 200, 100, 0.7);
    height: 30vh;
}

.skill-card:hover .description {
    transform: translatey(0);
}

/*==========Experience==========*/

#experience-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(49%, 1fr));
    grid-gap: 10px;
    margin: 0 10px;
}

.experience-card .description {
    width: 100%;
    height: 100%;
}

.experience-card {
    height: 40vh;
    background: linear-gradient(90deg, #2D68FF 0%, #00A368 40%);
    background-size: 180%;
    background-position: 0 0;
    transition: all 1s ease-in-out;
}

.experience-card:hover {
    background-size: 100%;
}

.experience-card h3 {
    margin: 0;
    padding: 0;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40pt;
    text-align: center;
    font-weight: bold;
    transition: all 1s ease-in-out;
    opacity: 1;
}

.experience-card:hover h3 {
    top: 0;
    opacity: 0;
}

.experience-card p {
    width: 100%;
    opacity: 0;
    position: absolute;
    text-align: center;
    margin: 0;
    padding: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 1s ease-in-out;
}

.experience-card:hover p {
    opacity: 1;
}

/*==========Projects==========*/



/*==========Miscellaneous/JavaScript==========*/

.pic-wrap-circle {
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
}

.pic-wrap-circle img {
    width: 100%;
}